<div style="width: 100%; font-family:Open Sans,Arial, Helvetica, sans-serif; background:#f3f7f8;">
    <div style="width: 750px; margin: 0 auto;">
        <div style="padding: 0.7rem 1rem;"><a href="{site_url}" style="font-size: 19px;font-weight: normal;opacity: 0.75;color: #002a46; text-decoration: none;"><strong>GEET </strong>GIS Enabled Entitlement Tracking System</a></div>
        <div style="background-color: #0C3E5F;height: 90px; position: absolute; width:750px; z-index: 0;"></div>
        <div style="width:680px; font-size:14px; background-color:#FFF; border-radius: 3px; margin: 0 auto; position: relative; margin-top:25px; padding:15px;box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);">
            <div style="background-color: #e0e0e0; padding: 7px 10px; border-radius: 3px;">Reports</div>
            <div style="padding:10px 20px;">
                <p>Dear {fullname},</p>
                <p><img src="{report_image}" style="width:100%;" />
                <p>For assistance, please contact us at <a href="mailto:{support_email}">{support_email}</a></p>
                <p>Sincerely,<br />
                {site_represent_title} Team<br />
                <a href="{site_url}">{site_url}</a></p>
            </div>
        </div>
        <div style="text-align: center; padding: 10px 0 20px 0; ">
            <div style="display: inline-block; margin-right: 30px;">
                <img src="{site_url}images/logo_mord.jpg" width="300" style="vertical-align: middle;" />
            </div>
            <div style="display: inline-block;">
                <img src="{site_url}images/logo_undp.png" width="100" style="vertical-align: middle;" />
            </div>
        </div>
    </div>
</div>